# Virtual environment
venv/

# Environment variables
.env

# dbt compiled files
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Python cache
__pycache__/
*.pyc
*.pyo

# Airflow logs
airflow/logs/

# OS files
.DS_Store
Thumbs.db

# dbt profiles
dbt_profiles.yml
profiles.yml
logs/
